<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <body>
            {{>header}}
            <img src="img/t1.jpeg"/>
           {{>footer}}
        </body>
    </head>
</html>