<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/styles.css">
        
        <body>
            {{>header}}
            {{>footer}}
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="messege-1"></p>
            <p id="messege-2"></p>

            <script src="/public/js/app.js"></script>
        </body>
    </head>
</html>