<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <body>
            <h1>{{title}}</h1>
            <img src="img/t1.jpeg"/>
            <p>{{des}}</p>
        </body>
    </head>
</html>